<ul>
    <li *ngFor="let product of products">
        <a routerLink="/product/{{product.id}}">
            <img [src]="product.imageUrl" [alt]="product.name"/>
            <div class="content">
                <div class="name">
                    {{product.name}}
                </div>
                <span class="favorite {{product.favorite?'':'not'}}">
                    ❤
                </span>
                <div class="stars">
                    <star-rating
                    [value]="product.stars"
                    [totalstars]="5"
                    checkedcolor="red"
                    uncheckedcolor="black"
                    size="22px"
                    [readonly]="true">
                </star-rating>
                </div>
                <div class="product-item-footer">
                    <div class="category">
                        <span *ngFor="let category of product.categorys">
                            {{category}}
                        </span>
                    </div>
                    <div class="price">
                        <span>
                            {{ product.price }}
                        </span>
                        <span>€</span>
                    </div>
                                                                             
                </div>
            </div>
        </a>
    </li>
</ul>