ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}

li a{
    height: 29.5rem;
    width: 13rem;
    border: 1px solid rgb(223, 199, 152);
    border-radius: 1rem;
    margin-top: 1.2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: rgb(0, 0, 0);
    font-weight: 500;

}

li a:hover{
    opacity: 0.9;
    cursor: pointer;
}

li a img{
    object-fit: cover;
    height: 20.5rem;
}

.content{
    margin-top: 0rem;
    padding: 0.5rem 1rem;
    position: relative;
    height: 8rem;
}

.favorite{
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    font-size: 1.2rem;
}

.favorite.not{
    color: gray;
}

.stars{
    margin-bottom: 0.2rem;
}

.product-item-footer{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.category{
    flex: 9;
}

.category span{
    border-radius: 2rem;
    background-color: rgb(206, 203, 191);
    display: inline-block;
    font-size: 0.8rem;
    color: rgb(65, 64, 64);
    margin-right: 0.3rem;
    padding: 0 0.5rem;
    margin-top: 0.2rem;
}   

.price{
    position: absolute;
    bottom: 0;
    left: 0.9rem;
    background: rgb(255, 255, 255);
    padding: 0rem 100% 1;
    color: #414141;
    margin-top: 0.1rem;
    font-size: 1.1rem;

}