<div class="container">
    <div class="content">
        <app-title title="Résumé de la Commande" fontSize="1.6rem"></app-title>
        <div class="summary">
            <div>
                <h3>Nom:</h3>
                <span>{{ order.name }}</span>
            </div>
            <div>
                <h3>Addresse:</h3>
                <span>{{ order.address }}</span>
            </div>
        </div>
        
        <!-- Composant 'order-items-list' pour afficher les articles de la commande -->
        <order-items-list [order]="order"></order-items-list>
    </div>
    
    <!-- Section de carte -->
    <div class="map">
        <!-- Composant 'app-title' pour afficher le titre "Sélectionnez votre emplacement sur la carte" -->
        <app-title title="Adresse de Collecte" fontSize="1.6rem"></app-title>
        
        <!-- Composant 'map' pour afficher une carte interactive -->
        <map [order]="order" [readonly]="true"></map>
    </div>
    
    <!-- Section des boutons d'action -->
    <div class="buttons-container">
        <div class="buttons">

        </div>
    </div>
</div>
