
<header>
    <div class="container">
      <a routerLink="/" class="logo">Sunny Laundry</a>
      <nav>
        <ul>
          <li *ngIf="!user.token">
            <a routerLink="/login">Connexion</a>
          </li>
          <li>
            <a routerLink="/">Accueil</a>
            <a routerLink="/produits">Nos Produits</a>
          </li>
          <li *ngIf="isAuth" class="menu-container">
            <a routerLink="/dashboard">{{ user.name }}</a>
            <div class="menu">
              <a routerLink="/profile">Profil</a>
              <a routerLink="/orders">Commandes</a>
              <a routerLink="/produits" (click)="logout()">Déconnexion</a>
            </div>
          </li>
          <li>
            <a routerLink="/panier">
              Panier <span *ngIf="cartQuantity">{{ cartQuantity }}</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </header>