div{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

input{
    border-radius: 10rem 0 0 10rem;
    border: none;
    height: 3rem;
    width: 14rem;
    background-color: rgb(237, 223, 197);
    padding: 1.2rem;
    font-size: 1rem;
    font-weight: 500;
    outline: none;
}

div button{
    color: grey;
    height: 3rem;
    width: 6rem;
    font-size: 1rem;
    border-radius: 0 10rem 10rem 0;
    border: none;
    background-color: rgb(197, 177, 78);
    color: rgb(0, 0, 0);
    opacity: 0.8rem;
    outline: none;
}

div button:hover{
    opacity: 1;
    cursor: pointer;
}