<div class="container">
    <div class="details">
        <app-title title="Connexion"></app-title>

        <form [formGroup]="loginForm" (ngSubmit)="submit()">
            <div class="input-container">
                <label>Email</label>
                <div>
                    <input type="email" placeholder="Email" 
                    formControlName="email"/>
                </div>
                <div class="error-list" *ngIf="fc.email.errors && isSubmitted">
                    <div *ngIf="fc.email.errors.required">Ne pas laisser vide</div>
                    <div *ngIf="fc.email.errors.required">l'Email n'est pas valide</div>
                </div>
            </div>

            <div class="input-container">
                <label>Mot de passe</label>
                <div>
                    <input type="password" placeholder="Mot de passe" 
                    formControlName="password"/>
                </div>
                <div class="error-list" *ngIf="fc.password.errors && isSubmitted">
                    <div *ngIf="fc.password.errors.required">Ne pas laisser vide</div>
                </div>
            </div>
            
            <div class="button">
                <button type="submit">Connexion</button>
            </div>
        </form>
    </div>
</div>