<div class="container">
    <div class="details">
        <app-title title="Connexion"></app-title>

        <form [formGroup]="loginForm" (ngSubmit)="submit()">
            <text-input 
            [control]="fc.email" 
            [showErrorsWhen]="isSubmitted"
            type="email"
            label="Email"
            ></text-input>

            <text-input 
            [control]="fc.password" 
            [showErrorsWhen]="isSubmitted"
            type="password"
            label="Mot de passe"
            ></text-input>

            <default-button text="Connexion"></default-button>
            <div class="register">
            Nouveau ici ? Inscrit toi par là 👉 &nbsp;
            <a routerLink="/register" [queryParams]="{returnUrl : returnUrl}">
                Inscription
            </a>
            </div>
            
        </form>
    </div>
</div>